body {
  font-family: "Helvetica Neue", "Helvetica Neue Bolder", sans-serif;
  position: relative;
  height: 100vh;
  margin: 0;
  background-color: #121213;
}

h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  margin: 0;
}

#histordle {
  color: #d81b60;
}

h1#histordle {
  position: relative !important;
  height: 50%;
  top: 10px;
  transform: translateY(0%);
}

h1#histordle > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 25%;
}

h1#histordle > ul > li {
  margin: 15px;
}

h1#histordle > ul > li > #word {
  color: #ffffff;
  text-shadow: 0 0 10px #d81b60;
  font-style: Bolder;
  font-size: larger;
}

h1#histordle > ul > li > #date {
  color: #d81b60;
  font-size: large;
}

#yesterdle, #wordleword{
  color: #85c0f9;
}

h1#yesterdle word {
  color: #ffffff;
  text-shadow: 0 0 10px #85c0f9;
  font-style: Bolder;
  font-size: larger;
}

#todaydle {
  color: #f5793a;
}

h1#todaydle word {
  color: #ffffff;
  text-shadow: 0 0 10px #f5793a;
  font-style: Bolder;
  font-size: larger;
}

masker {
  position: fixed;
  left: 0;
  top: 0;


  /* -webkit-mask-image: linear-gradient(to bottom, black .1%, transparent, black 99.9%);  */
  -webkit-mask-image: linear-gradient(
    0deg,
    black 0%,
    transparent 10%,
    transparent 90%,
    black 100%
  );

  mask-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background-color: black;
  z-index: 1;
}

backdrop {
  font-family: "Helvetica Neue", "Helvetica Neue Bolder", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(backdrop.jpg);
  background-repeat: repeat;
  z-index: -1;
  opacity: 0.01;
}

#badge {
  text-align: right;
  position: fixed;
  bottom: 0.5%;
  right: 3%;
}

header {
  font-family: "Helvetica Neue", "Helvetica Neue Bolder", sans-serif;
  font-style: Bolder;
  font-size: x-large;

  color: rgb(124, 124, 124);
  width: 100%;
  text-align: center;
  position: fixed;
  top: 10px;
  white-space: nowrap;

  z-index: 10;
}

header a {
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (max-width: 730px) {
  header a {
    padding-left: 0%;
    padding-right: 0%;
  }
}

footer {
  color: rgb(124, 124, 124);
  font-style: Bolder;
  font-size: x-large;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 20px;

  z-index: 10;
}

a:link {
  text-decoration: none;
  color: rgb(226, 226, 226);
}

a:visited {
  text-decoration: none;
  color: rgb(226, 226, 226);
}

a {
  transition: all 0.4s ease 0s;
}

a:hover {
  letter-spacing: 5px;
  color: #83e07b !important;
  text-shadow: 0 0 25px #83e07b !important;
  transition: all 0.4s ease 0s;
}
