<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ which }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="filename" content="word_template.html" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <backdrop id="backdrop">
        </backdrop>
        <header>
            <a id="yesterdle" href="/yesterday" >
                yesterdle
            </a>
            <a id="todaydle" href="/today" onclick="return confirm('Are you sure?')" >
                todaydle
            </a> 
        </header>
        <h1>
            {{ content }}
        </h1>
        <footer> 
            <a href="https://github.com/byronka/minum">
                minum made
            </a>
        </footer>
    </body>
</html>