<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ which }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="filename" content="word_template.html" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <backdrop id="backdrop"> </backdrop>
    <masker class="masker"> </masker>
    <header>
        <a id="yesterdle" href="/yesterday"> yesterdle </a>
        <a id="histordle" href="/history"> histordle </a>
        <a id="todaydle" href="/today" onclick="return confirm('Are you sure?')"> todaydle </a>
    </header>
    {{ content }}
    <footer>
        <a href="https://github.com/byronka/minum"> minum made </a>
    </footer>
</body>

</html>